@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

body {
  font-family: "Press Start 2P", sans-serif;
  color: #eeeeee;
  background-color: #222222;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.btnagain {
  font-family: "Press Start 2P", sans-serif;
  font-size: 30px;
  margin: 2%;
  padding: 2%;
  background-color: #111111;
  color: #eeeeee;
  cursor: pointer;
  border-radius: 20px;
  width: 20%;
  border-collapse: collapse;
}

h3 {
  font-size: 30px;
  margin: 5%;
}

h1 {
  text-align: center;
  font-size: 60px;
}

.img {
  background: #eeeeee;
  font-size: 6rem;
  width: 15rem;
  padding: 3rem 0rem;
  text-align: center;
  color: #111111;
  bottom: 0;
  margin-left: 45%;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.container .left div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.container .right div {
  display: flex;
  flex-direction: column;
}
:focus {
  outline: none;
  border: none;
}

.put {
  height: 100%;
  width: 40%;
  background-color: #eeeeee;
  margin: 5%;
  padding: 4%;
  cursor: pointer;
  font-size: 30px;
  border-collapse: none;
}
.btncheck {
  font-size: 25px;
  margin: 1%;
  padding: 4%;
  background-color: #111111;
  font-family: "Press Start 2P", sans-serif;
  color: #eeeeee;
  border-radius: 10px;
  border-collapse: collapse;
  cursor: pointer;
}
